/*fonts!!!*/

@font-face {
  font-family: Voltaire-Regular;
  src: url(Voltaire-Regular.ttf)
}
@font-face {
  font-family: Park-Lane;
  src: url("Park Lane NF.ttf");

}

html {font-family: Voltaire-Regular, "Courier 10 Pitch", sans-serif;
      color: #ffb35d;}

body {background: #000000;
      }

/*big red letters!!!*/
h2 {color: #ffb35d;
    font-family: Park-Lane, Verdana, sans-serif;}

#table {position: absolute; top: 250px; left: 75px;}

td {background-color: #ffb35d;
  color: #55069a;
  text-align: center;}
th {height: 30px; width: 100px;}

/*underscore 2 refers to "page 2 styles", for placement, will be replaced"*/
#putMeInMiddle {position: absolute; left: 100px; top:50px;}

#nav {position: absolute; left: 100px; top: 500px;}
#title {position: absolute; left: 50px; top: 50px;}


a:visited {color: red;}
a:hover {color: darkolivegreen;}
a {color: green;}
a:active {color: coral;}


/*
morePage2Stuff*/
#list_2 {position: absolute; left: 50px; top:120px;}
#listos_2 {position: absolute; left: 450px; top: 50px;}


.storeImg {height: 21px; width:21px;}
